<div id="register-page" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <form [formGroup]="registerForm" (ngSubmit)="sendMail()" class="register-item">
        <h2>Inscription Sedela , C'est gratuit</h2>
        <mat-form-field class="register-form">
            <input matInput type="text" formControlName="firstNameFormControl" placeholder="Prènom"
                [(ngModel)]="user.first_name" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="user.first_name" matSuffix mat-icon-button aria-label="Clear"
                (click)="user.first_name=''">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="this.registerForm.get('firstNameFormControl').hasError('required')">
                Svp saisissez votre prènom
            </mat-error>

        </mat-form-field>

        <mat-form-field class="register-form">
            <input matInput type="text" formControlName="lastNameFormControl" placeholder="Nom de famille"
                [(ngModel)]="user.last_name">
            <button mat-button *ngIf="user.last_name" matSuffix mat-icon-button aria-label="Clear"
                (click)="user.last_name=''">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('lastNameFormControl').hasError('required')">
                Svp saisissez votre nom
            </mat-error>

        </mat-form-field>

        <mat-form-field class="register-form">
            <input matInput type="text" formControlName="emailFormControl" placeholder="E-mail"
                [(ngModel)]="user.email">
            <button mat-button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear" (click)="user.email=''">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error
                *ngIf="registerForm.get('emailFormControl').hasError('email') && !registerForm.get('emailFormControl').hasError('required')">
                Svp saisissez une adresse e-mail valide
            </mat-error>
            <mat-error *ngIf="registerForm.get('emailFormControl').hasError('required')">
                saisissez votre adresse e-mail
            </mat-error>

        </mat-form-field>

        <mat-form-field class="register-form">
            <input matInput type="password" formControlName="passwordFormControl"
                placeholder="Mot de passe (6 caractères minimum)" [(ngModel)]="user.password">
            <mat-error *ngIf="registerForm.get('passwordFormControl').hasError('minLength')">
                Le mot passe doit contenir au moins 6 caracteres
            </mat-error>
            <mat-error *ngIf="registerForm.get('passwordFormControl').hasError('required')">
                Svp enregistrer un mot de passe
            </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form">
            <mat-select [(value)]="user.role" placeholder=" choisir statut" formControlName="statutFormControl">
                <mat-option value="Etudiant">Etudiant</mat-option>
                <mat-option value="Enseignant">Enseignant</mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.get('statutFormControl').hasError('required')">
                selectionner votre statut
            </mat-error>
        </mat-form-field>

        <div class="register-form">
            <button mat-stroked-button color="primary" [disabled]="isError()===true">Inscription</button>
        </div>

    </form>

</div>